.badge {
    color: white;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 0 4px;

    &.info {
        background-color: #1875ff;
    }

    &.error {
        background-color: red;
    }

    &.warning {
        background-color: #ceac49;
    }
}