<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="facade.group"
                  (submit)="onSubmit()">
                <p *ngIf="(id$ | async) > 0">Scontrino con id {{ id$ | async }}</p>
                <p *ngIf="(id$ | async) === 0">Scontrino nuovo</p>

                <div class="form-group">
                    <label>Importo Davide</label>
                    <input class="form-control"
                           formControlName="importoDavide"
                           type="number">
                </div>

                <div class="form-group">
                    <label>Importo Monia</label>
                    <input class="form-control"
                           formControlName="importoMonia"
                           type="number">
                </div>

                <div class="form-group">
                    Personale
                    <label class="switch pull-right">
                        <input class="form-control"
                               formControlName="personale"
                               type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Data</label>
                    <input class="form-control"
                           formControlName="data"
                           bsDatepicker>
                </div>

                <div class="form-group">
                    <label>Descrizione</label>
                    <input class="form-control"
                           formControlName="descrizione"
                           type="text"
                           [typeahead]="descriptions"
                           [typeaheadMinLength]="3"
                           [typeaheadWaitMs]="100"
                           (typeaheadLoading)="changeTypeaheadLoading($event)">
                    <div class="loading-desc">
                        <ng-container *ngIf="loadingDesc">
                            <fa name="refresh"
                                animation="spin"></fa>&nbsp;Caricamento...
                        </ng-container>
                    </div>
                </div>

                <div *ngIf="!facade.valid">
                    <label>Errori: </label>
                    <ul *ngFor="let err of facade.errors | keys">
                        <li>{{ err.value | json }}</li>
                    </ul>
                </div>

                <div class="row">
                    <button [disabled]="!facade.valid"
                            type="submit"
                            class="btn btn-success col-4 offset-1">Salva</button>
                    <button [routerLink]="['/scontrini']"
                            type="button"
                            class="btn btn-danger col-4 offset-2">Torna
                        alla lista</button>
                </div>
            </form>
        </div>        
    </div>
</div>