@import '~variables.scss';
.topbar {
    position: fixed;
    width: 100%;
    top: 0;
    background: #ffb100;
    color: #333;
    border-bottom: 1px solid #dddddd;
    -webkit-box-shadow: 0px 2px 1px #dddddd;
    box-shadow: 0px 2px 1px #dddddd;
    font-size: 18px;
    padding: 0 $standardPadding;
    z-index: 100;
    height: $topbarHeight;
    display: flex;
    align-items: center;
    .title {
        flex: 0;
        white-space: nowrap;
    }
    .loading {
        flex: 1;
        text-align: center;
    }
    .btn {
        flex: 0;
    }
}